<div id="centercontent">
  <div id="fixedcontent">
  <p id="notice"><%= notice %></p>
  <%= markdown(@page.content) %>

  <% if @page.name == "index"%>

    <div id="blog">
    </div>

    <script language="JavaScript">
    $.ajax({
      url: "<%= pages_show_blogfeed_path() %>",
      format: "html",
      cache: false,
      success: function(html){
        $("#blog").append(html);
      }
    }); 
    </script>
  <% end %>
      
  </div><!-- FixedContent -->
</div><!-- CenterContent -->


<div id="headerright"></div>

<div id="leftcontent">
  <%= markdown(@page.sub_content) %>
</div>