<div class="container">
  <p id="notice"><%= notice %></p>
  	
  	<p>
  		Enter details of when you are planning to arrive and how long you would like to stay, we will get back to you within a day to confirm your booking.
    </p>
	<%= render 'form' %>
</div>
  
