<!DOCTYPE html>
<html>
<head>
  <title>Bullfarmoast</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Typekit Stuff -->
<script type="text/javascript" src="http://use.typekit.com/gqc8emg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<script>//(function(d, s, id) {
  //var js, fjs = d.getElementsByTagName(s)[0];
  //if (d.getElementById(id)) return;
  //js = d.createElement(s); js.id = id;
  //js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=154009227976986";
  //fjs.parentNode.insertBefore(js, fjs);
//}(document, 'script', 'facebook-jssdk'));</script>

<div id="banner">
  <div id="headertext" class="tk-brioso-pro"><a href="/">B&B at Bull Farm Oast</a></div>
</div>

<div id="mainNav">
  <a href="/">home</a> <a href="/rooms">rooms</a> <a href="/breakfast">breakfast</a>
  <a href="/availability">availability</a> <a href="/attractions">location</a>
  <a href="/guestbook">guest book</a> <a href="/contact">contact us</a> <a href="/blog">blog</a>
</div>

<%= yield %>

</body>
</html>
